* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eeeeee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-button{
    height:0px;
}
::-webkit-scrollbar-track{
    background:none
}
::-webkit-scrollbar-track-piece{
    background:transparent
}
::-webkit-scrollbar-thumb{
    background:#89798e50;
    border-radius:5px
}
::selection {background: #af7676aa;}

a {
    text-decoration: none;
}
a:hover {
    background: linear-gradient(to left, #9eb3f6, #f994b6 100%);
    background-position: 0 100%;
    background-size: 100% 1px;
    background-repeat: repeat-x;
}
:root {
    --titles: #efeff0;
    --sub_color: #89798e;
    --sub_color_light: #a972b9;
    --progress_count: #777;
    --currentcolor: #777;
    --currentcolor_hover: #999;
    --body-color: #222;
}
.box {
    background-color: #222;
    
    display: grid;
    place-items: center;
    border-radius: 8px;
}
.container {
    margin: 0 8px;
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-areas:
        "Header    Header      Header   Header      Header   Header"
        "Playlists Sounds      Sounds   Sounds      Sounds   Sounds"
        "Controls  Controls    Controls Controls    Controls Controls";
    grid-template-rows: 48px auto 85px;
    grid-template-columns: 256px auto;
}
/* Header */
.Header {
    grid-area: Header;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto 15px;
    margin-top: 6px;
}
.head_profile_sub {
    background-color: #222;
    border-radius: 6px;
    padding: 8px;
    min-width: 152px;
    max-width: 180px;
    position: absolute;
    inset: 58px 28px auto auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 10;
}
.head_profile_sub a {
    background: none;
    border-radius: 5px;
    width: 98%;
    margin: 2px auto;
    padding: 3px;
}
.head_profile_sub a:hover {
    background: #333;
}
.hdr_hdr_block {
    min-width: 128px;
    max-width: 256px;
    height: 32px;
}
.hdr_hdr_block span {
    display: inline-flex;
    align-items: center;
}
.hdr_hdr_block span img {
    margin-right: 15px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.search {
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background-color: #222;
    height: 45px;
    width: 330px;
    -webkit-tap-highlight-color: transparent;
    border: none;
}
.result_box {
    width: 640px;
    background-color: #111d;
    position: absolute;
    left: calc(50% - 320px);
    top: 60px;
    border-radius: 12px;
    padding: 5px;
    z-index: 10;
}
.result_box a:hover {
    background: none!important;
}
.result_box .block {
    width: 120px;
}
.result_box div {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.result_box .block figure {
    display: inline-block;
    width: 120px;
}
.result_box .block figure figcaption {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.result_box .block.author img {
    margin: 0px 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
}
.result_box .block.album img {
    margin: 0px 20px;
    height: 80px;
    width: 80px;
    border-radius: 20%;
    object-fit: cover;
    margin-top: 5px;
}
.result_box .block.search_track{
    width: 90%;
    height: 56px;
    background-color: #000;
    margin: 12px auto;
    padding: 4px 8px;
    border-radius: 8px;
    display: block;
}
.result_box .block.search_track img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 14px;
}
.result_box .block.search_track div {
    position: absolute;
    line-height: 48px;
    font-size: 16px;
    display:inline-block;
    height: 48px;
    margin: 0px;
    text-align: start;
    width:fit-content;
}
.result_box .block.search_track:hover {
    box-shadow: 0px 0px 0px 2px #555;
}
.hidden {
    display: none!important;
}
/* /Header */
/* Preferences */
.preferences_page {
    width: 100%;
    height: 100%;
    padding: 4%;
    overflow: overlay;
    overflow-x: hidden;
    position:relative;
    text-align: center;
    z-index: 0;
}
.preferences_page h2 {
    margin: 0 auto;
    width: 20%;
    margin-bottom: 100px;
}
.preferences_profile .fields {   
    position: relative;   
    display: grid;
    gap: 12px;
    grid-template-areas:
        "Avatar     Username    Genres"
        "Avatar     Email       Genres";
    grid-template-columns:auto auto auto;
    
}
.field .item {
    display: block;
    text-align: center;
    margin:8px auto;
}
.field input.text {
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background-color: #000;
    height: 45px;
    width: 256px;
    -webkit-tap-highlight-color: transparent;
    border: none;
}
div.preferences_avatar {
    grid-area: Avatar;
    display: table-cell;
    vertical-align: middle;
    margin: 5px 24px;
    margin-right: 32px;
}
div.preferences_avatar img {
    border-radius: 12px;
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.input-file{
    width:0px;
    height:0px;
    position:absolute;
}
.input-file + .modified-label{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
div.preferences_avatar .btn_upload {
    color:#555;
    line-height:40px;
    width:256px;
    border:2px solid #444;
    border-radius: 8px;
}
div.preferences_avatar .btn_upload:hover, div.preferences_avatar .btn_upload:focus {
    border-color:#777;
}
div.preferences_username {
    grid-area: Username;
    padding-top: 32px;
}
div.preferences_email {
    grid-area: Email;
}
div.preferences_genres {
    grid-area: Genres;
    margin-left: 32px;
    width: 286px;
    height: 256px;
}
.select_genres {
    border-radius: 6px;
    border: 2px solid #444;
    overflow: overlay;
    overflow-x: hidden;
    outline: none;
}
.select_genres::-webkit-scrollbar-thumb{
    background:#00000080;
    border-radius:5px;
    min-height:24px;
}
.select_genres option {
    display: block;
    padding: 8px 16px;
    width: 256px;
    background-color: #222;
    border: 1px #333 solid;
    cursor: pointer;
}
.select_genres option:checked {
    background-color: #89798e;
}
.select_genres option[disabled] {
    background-color: #000;
}
.btn_selected {
    position: relative;
    padding: 5px;
    background: #000000;
    border-radius: 8px;
    margin-right: 9px;
    margin-bottom: 10px;
}
.preferences_profile .button {
    grid-area: bnt_save;
    background-color: #fc6666;
    height:40px;
    width: 128px;
    border: 1px solid #333;
    border-radius: 8px;
    color: black;
    margin-top: 64px;
    position: absolute;
    left: calc(50% - 64px);
}
.preferences_profile .button:hover {
    background-color: #b44444;
}
/* /Preferences */
/* visual */
.visual {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    margin: 0 auto;
    z-index:99999999;    
    background-color:#000;
}
.visual_info_track {
    margin-top: -228px;
    text-align: center;
    
}
.visual_info_track div {
    display: inline-block;
    color: #d2b3db!important;
}
canvas {
    width: 100vw;
    margin: 0 auto;
    /* position: absolute; */
}
.canvas_img {
    width: 256px;
    height: 256px;
    position:absolute;
    margin: 0 auto;
    left: calc(50% - 128px);
    top: calc(50% - 128px);
    border-radius: 50%;
}
/* /visual */
.Playlists {
    grid-area: Playlists;
}
.Sounds {
    grid-area: Sounds;
}
/* control_panel */
.Controls {
    grid-area: Controls;
    display: grid;
    gap: 10px;
    margin: 0 10px;
    grid-template-areas:
        "track_info  prev  contol  next";
    grid-template-columns: 270px 10% auto 10%;
    justify-content: stretch;
}
.info_track {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "cover_img   cover_name"
        "cover_img   cover_author";
    grid-template-columns: 64px auto;
    height: 64px;
}
.cover_img {
    grid-area: cover_img;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.cover_name {
    grid-area: cover_name;
    margin-top: 8px;
    color: var(--titles);
    font-size: 16px;
}
.cover_author {
    grid-area: cover_author;
    color: var(--sub_color);
    font-size: 12px;
    text-decoration: none;
    margin-top: -18px;
}
.prev_track{
    text-align: left;
}
.queue {
    font-size: 16px;
}
.queue_title {
    font-size:12px;
    color: var(--sub_color);
}
.next_track {
    text-align: right;
}
.player-control {
    width: 100%;
    padding:0 5%;
    margin: 0 auto;
    margin-top: -4px;
    display: grid;
    grid-template-areas:
        "control_panel"
        "progress_bar";
    grid-template-rows: 44px 20px;
}
.control_buttons {
    grid-area: control_panel;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.control_buttons .controls {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.btn {
    cursor: pointer;
    margin: 10px 10px;
}
.progress_bar {
    grid-area: progress_bar;
    width: 100%;
    display: flex;
    align-items: center;
}
.time_bar {
    margin:0 8px;
    font-size: 14px;
    color: var(--progress_count);
}
.progress_container {
    background: #333;
    border-radius: 5px;
    height: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}
.progress {
    background: #fff;
    border-radius: 5px;
    height: 4px;
    pointer-events: none;
}
.sound_bar, .liked_bar{
    position: relative;
} 
.volume_container {
    position: absolute;
    bottom: 110%;
    right: calc(50% - 3.5px);
    background: #333;
    border-radius: 5px;
    height: 128px;
    width: 5px;
    box-shadow: 0px 0px 0px 2px #333;
    display: flex;
    cursor: pointer;
    align-items:flex-end;
}
.volume_variable {
    background: #fff;
    border-radius: 5px;
    width: 5px;
    pointer-events: none;
}
/* /control_panel */
.icon {
    fill:var(--currentcolor);
    stroke:var(--currentcolor);
    stroke-width:12;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.icon:hover {
    fill:var(--currentcolor_hover);
    stroke:var(--currentcolor_hover);
}
.main_page {
    overflow: hidden;
}
.profile_page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 196px auto;
    overflow: overlay;
    overflow-x: hidden;
}
.profile_body {
    background-color: #222;
    border-radius: 16px;
    margin-top: -16px;
    padding: 0 32px;
    padding-top: 108px;
}
.info_user {
    display: flex;
}
.profile_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-top: 90px;
    margin-left: 48px;
    border: 5px solid #222;
}
.profile_nickname {
    position: relative;
    align-self: center;
    margin-top: 156px;
    margin-left: 20px;
    font-size: 2.3em;
    color: #efeff0;
}
.manage_profile {
    position: relative;
    align-self: center;
    margin-top: 172px;
    margin-left: 22px;
    border: none;
    background-color: transparent;
    
}
.profile_content {
    height: auto;
    margin-bottom: 48px;
}
.profile_content .content_container {
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}
.profile_content .content_container .content_block {
    background-color: #000;
    width: 164px;
    height: 218px;
    border-radius: 6px;
    overflow: hidden;
    border: 5px solid #000;
}
.btns_clr {
    fill: #777;
}
.btns_clr:hover {
    fill: #89798e;
}
/* Playlists */
.playlists_container {
    width: 100%;
    height: 100%;
    overflow: overlay;
    overflow-x: hidden;
    padding: 15px;
}
.playlist_block {
    margin: 5px auto;
    padding: 5px;
    width: 90%;
    text-align: center;
    font-size: medium;
}
.title_playlist {
    margin: 0 auto;
    text-transform: uppercase;
    color: #89798e;
    width: 90%;
    text-align: center;
}
.title_playlist .create_playlist {
    width: 24px;
    margin-right: -24px;
    display: inline-block;
    padding: 1px;
}
.title_playlist .create_playlist:hover {
    text-shadow: 0px 0px 2px var(--sub_color_light);
}
/* playlist creator */
.playlist_creator {
    width: 512px;
    height:fit-content;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 3px 2px #111;
}
.playlist_creator h3 { 
    text-align: center;
}
.playlist_creator form {
    margin-top: 10px;
}
.playlist_creator .inl_block {
    margin: 0 auto;
    text-align: center;
}
#get_playlists .block {
    background-color: #111;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
#get_playlists .block:hover {
    background-color: #222;
}

.playlist_creator .inl_block .playlist_name_lable {
    text-align: center;
    font-size: 16px;
}
.playlist_creator .inl_block .playlist_name {
    text-align: center;
    border-radius: 8px;
    background-color: #222;
    height: 24px;
    width: 200px;
    border: none;
    display: block;
    margin: 0 auto;
}



.playlist_creator form .button {
    background-color: #fc6666;
    height:32px;
    width: 96px;
    border: 1px solid #333;
    border-radius: 8px;
    color: black;
    margin: 0px auto;
    margin-top: 32px;
    display: block;

}
.playlist_creator form .button:hover {
    background-color: #b44444;
}

/* /playlist creator */
hr {
    border: none;
    border-top: 1px solid #373737;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* /Playlists */

/* content */
.content_page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 196px auto;
    overflow: overlay;
    overflow-x: hidden;
}
.content_header {
    background-color: var(--sub_color);
    display: grid;
    grid-template-rows: 1% auto;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.6) inset;
    background: #ffffff;
}
.content_sub_info {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 36px;
    margin-left: 18px;
    margin-top: 12px;
}
.content_sub_info_block {
    background-color: rgba(0, 0, 0, 0.25);
    width: auto;
    border-radius: 8px;
    padding: 5px;
    margin-right: 6px;
    font-size: 16px;
    white-space: nowrap;
}
.content_body {
    background-color: #222;
    border-radius: 16px;
    margin-top: -16px;
    padding: 0 32px;
    padding-top: 108px;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.6) inset;
}
.content_info_block {
    display: flex;
}
.content_info_block .subs {
    background-color: #111;
    border-radius: 8px;
    width: 39px;
    height: 32px;
    line-height: 32px;
    position: relative;
    margin-left: -80px;
    margin-top: 196px;
    margin-right: 80px;
    text-align: center;
}
.content_info_block .subs:hover {
    background-color: #000;
}
.content_info_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-top: 90px;
    margin-left: 48px;
    margin-right: 10px;
    border: 5px solid #222;
    object-fit: cover;
    flex-shrink: 0;
}
.content_info_text {
    position: relative;
    align-self: center;
    margin-top: 156px;
    margin-left: -64px;
    font-size: 1.8em;
    color: #efeff0;
    width: 100%;
}
.content_type {
    position: relative;
    margin-left: 18px;
    margin-top: 148px;
    width: 64px;
    color: var(--sub_color);
    text-shadow: 0px 0px 3px #00000099;
    white-space: nowrap;
}
.content_body_container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 36px;
    overflow: hidden;
}
.content_body_container_el {
    background-color: #000;
    width: 164px;
    height: 208px;
    border-radius: 8px;
    overflow: hidden;
    border: 5px solid #000;
}
.content_body_container_el_img {
    width: 100%;
    height: 154px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 4px;
    object-fit: cover;
}
.content_body_container_el_artist {
    width: 164px;
    object-fit: cover;
}
.content_body_container_el_artist figure {
    width: 100%;
}
.content_body_container_el_artist figure figcaption {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: 5px;
}
.content_body_container_el_artist figure img {
    margin: 0px 5px;
    height: 154px;
    width: 154px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1);
    background-color: #000;
}
.content_body_container_el_name {
    width: 100%;
    text-align: center;
    font-size: 13px;
    white-space: pre;
}
.content_body_container_el_sub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    margin: 5px auto;
}
.content_body_container_el_sub * {
    color: #89798e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.separator {
    margin: 0px 3px;
    font-weight: bold;
}
@media (max-width: 1700px) {
    .content_body_container_el:nth-child(8) {
        display: none;
    }
    .content_body_container {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media (max-width: 1500px) {
    .content_body_container_el:nth-child(7) {
        display: none;
    }
    .content_body_container {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1300px) {
    .content_body_container_el:nth-child(6) {
        display: none;
    }
    .content_body_container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1150px) {
    .content_body_container_el:nth-child(5) {
        display: none;
    }
    .content_body_container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    .content_body_container_el:nth-child(4) {
        display: none;
    }
    .content_body_container {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* /content */

/* Author */
.tracks_array {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub_title {
    width: 92%;
    display: flex;
}
.sub_title h2 {
    flex-grow: 1;
}
.sub_title .view_all {
    font-size: 14px;
    line-height: 25px;
    margin: 5px 0;
}
.track {
    width: 95%;
    background-color: #000;
    height: 54px;
    line-height: 54px;
    border-radius: 10px;
    margin: 8px 0;
    padding: 0px 18px;
    color: #efeff0;
    font-size: 14px;
    display: grid;
    grid-template-columns: 
    minmax(12px, 36px)
    minmax(52px, 64px)
    minmax(64px, 4fr)
    minmax(32px, 1.5fr)
    minmax(24px, 0.6fr)
    minmax(24px, 30px)
    minmax(24px, 0.5fr);
}
.track_index {
    padding-right: 10px;
}
.dash_track {
    margin: 0 4px;
    color: #89798e;
}
.track_type {
    margin: 0 12px;
    font-size: 12px;
    color: #89798e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track_author a {
    color: var(--sub_color);
}
.track_author span {
    margin-left: -4px;
    color: var(--sub_color);
    font-weight: 700;
}
.track_name, .track_author, .track_type, .track_info, .content_body_container_el_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track_time {
    text-align:end;
}
.track_info {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:start;
}
.track:hover {
    background-color: #111;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 1);
}
.album_track {
    margin-right: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track .track_img img {
    width: 46px;
    height: 46px;
    margin: 4px 0;
    border-radius: 6px;
    z-index: 0;
    object-fit: cover;
}
.track .track_img .track_play_btn{
    display: none;
    position: relative;
    top: -72px;
    left: 0px;
    background-color: #000;
    width: 28px;
    height: 28px;
    margin: 9px;
    border-radius: 50%;
}
.track .track_img .track_play_btn svg{
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    margin-left: 6px;
}
.track .track_img:hover .track_play_btn {
    display: block;
}
.favorite .icon {
    width: 24px;
    height: 24px;
    margin: 15px 10px;
    stroke: #777;
    fill: transparent;
    stroke-width: 3;
    fill-rule: nonzero;
}
.favorite .liked {
    stroke: #b6074a;
    fill: #b6074a;
}
.liked .icon {
    fill: none;
    stroke:var(--currentcolor);
    stroke-width:8;
}
.liked .liked {
    stroke: #b6074a;
    fill: #b6074a;
}
.btn_active {
    stroke: var(--sub_color_light);
}
.btn_active:hover {
    stroke: var(--sub_color_light);
}
.btn_shuffled {
    stroke: var(--sub_color_light);
    fill:  var(--sub_color_light);
}
.btn_shuffled:hover {
    stroke: var(--sub_color_light);
    fill:  var(--sub_color_light);
}
.content_info_text, .track_name, .track_author a, .album_track a, .cover_name, .cover_author a, .track_type {
    user-select:text;
}
/* context_menu */
#context_menu {
    box-shadow: 0px 0px 2px 2px #88888811;
    background-color: #000;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
#context_menu div {
    border-radius: 5px;
    margin: 2px auto;
    padding: 6px;
    text-align: center;
    background-color: #111;
}
#context_menu div:hover {
    background-color: #222;
}
#context_menu div.report {
    background-color: #500e0e;
    font-size: 12px;
}
#context_menu div.btn_context {
    background-color: #000 !important;
}
/* /context_menu */