{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'music/jquery.min.js' %}"></script>
    <link href="{% static 'staff_panel/main.css' %}" rel="stylesheet"/>
    <title>{{ title|title }}</title>
</head>
<body>
    <div class="staff_form">
        <form  id="search_form" role="search" autocomplete="off">
            {% csrf_token %}
            <h2>Выбор автора</h2>
            <div class="items artist">
                <input type="text" id="selectFilter" placeholder="Введи текст для поиска" class="item text_input">
                <select name='id' id="filterableSelect" size="6" class="item">
                    {% for item in artists %}
                        <option value="{{ item.url }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <span class="item">
                    <!-- <a id="add_id_artist" href="#" title="Add another artist" onclick="window.open('/W8HldoTIbNRQ3Jrm/music/artist/add/?_to_field=id&amp;_popup=1', 'newwindow', 'width=800, height=500'); return false;"></a> -->
                    <a id="add_id_artist" href="/W8HldoTIbNRQ3Jrm/music/artist/add/?_to_field=id&amp;_popup=1" title="Add another artist" target="_blank">
                        создать автора
                    </a>
                </span>
            </div>
        </form>

        <div class="content_body" id="content_body">
        </div>
    </div>
    <script src="{% static 'staff_panel/main.js' %}"></script>
</body>
</html>