{% load static %}
<div class="Header">
    <div class="hdr_hdr_block">
        <a href="{% url 'recent' %}" class="link">Главная</a>
    </div>
    <form id="search_form" role="search" autocomplete="off">
        {% csrf_token %}
        <input id="search_input" class="search" maxlength="300" autocorrect="off" spellcheck="false" placeholder="Введите запрос" value="">
    </form>
    <div class="hdr_hdr_block">
        <span class="menu_dropdown_profile">
            <img src="/media/{{ user.avatar }}" onerror="this.src=`{% static 'music/images/empty.png' %}`">
            <span>{{ user.displayName }}</span>
        </span>
        <div class="head_profile_sub hidden">
            <a href="{% url 'me' %}" class="link">Профиль</a>
            <a href="{% url 'preferences' %}" class="link">Настройки</a>
            {% if request.user.is_staff %}
                <hr>
                <a href="/W8HldoTIbNRQ3Jrm/">Dashboard</a>
            {% endif %}
            <hr>
            <a href="{% url 'logoutuser' %}" class="">Выход</a>
        </div>
    </div>
    <div id="result_box" class="result_box hidden">
    </div>
    <script src="{% static 'music/sub.js' %}"></script>
</div>

