{{ form }}
<form action="/staff_panel" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Автор</h2>
    <div class="container">
        <div class="info">
            <div class="url" class="item">
                Страница: <a href="/artist/{{ artists.url }}"> {{ artists.url }}</a>
            </div>
            <div class="slug" class="item">
                Slug: <a href="#">{{ artists.slug_name }}</a>
            </div>
            <div class="name">
                <label for="name" class="item">Имя:</label>
                <input type="text" name="name" value="{{ artists.name }}" maxlength="128" required id="name" class="item text_input">
            </div>
            <div class="is_author">
                <label for="is_author" class="item">Is author:</label>
                <input type="text" name="is_author" value="{{ artists.is_author }}" maxlength="16" id="is_author" class="item text_input">
            </div>
            <div class="verification">
                <label for="verification" class="item">verification</label>
                <input type="checkbox" name="verification" id="verification" class="item">
            </div>
        </div>
        <div class="description">
            <label for="description" class="item">Описание:</label>
            <textarea name="description" cols="64" rows="10" maxlength="2048" id="description" class="item text_input">{{ artists.description }}</textarea>
        </div>
        <div class="image image_artist">
            <img src="/media/{{ artists.image }}" class="item">
            <input type="file" accept="image/*" name="image" id="image" class="input-file">
                <label for="image" class="item btn_upload modified-label">
                    <span class="js-fileName">Загрузить файл</span>
                </label>
        </div>
        <div class="genres">
            <label for="genres" class="item">Жанры:</label>
            <input type="text" placeholder="Введи текст для поиска" class="item text_input">
            <select name="genres" id="genres" multiple="" class="item" size="6">
                {% for item in genres  %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="album">
            {% for item in albums %}
                {% include 'staff_panel/parts/albums' %}
            {% endfor %}
        </div>
    </div>
</form>