<form action="/staff_panel" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Автор</h2>
    <div class="container">
        <div class="info">
            <div class="url" class="item">
                url: {{ artists.url }}
            </div>
            <div class="slug" class="item">
                slug: {{ artists.slug_name }}
            </div>
            <div class="name">
                <label for="name" class="item">name:</label>
                <input type="text" name="name" value="{{ artists.name }}" maxlength="128" required id="name" class="item text_input">
            </div>
            <div class="is_author">
                <label for="is_author" class="item">Is author:</label>
                <input type="text" name="is_author" value="{{ artists.is_author }}" maxlength="16" id="is_author" class="item text_input">
            </div>
            <div class="verification">
                <label for="verification" class="item">verification</label>
                <input type="checkbox" name="verification" id="verification" class="item">
            </div>
        </div>
        <div class="description">
            <label for="description" class="item">Description:</label>
            <textarea name="description" cols="64" rows="10" maxlength="2048" id="description" class="item text_input">{{ artists.description }}</textarea>
        </div>
        <div class="image image_artist">
            <label for="image" class="item">Image</label>
            <img src="/media/{{ artists.image }}" class="item">
            <input type="file" accept="image/*" name="image" id="image" class="input-file">
                <label for="image" class="item btn_upload modified-label">
                    <span class="js-fileName">Загрузить файл</span>
                </label>
        </div>
        <div class="genres">
            <label for="genres" class="item">genres:</label>
            <input type="text" placeholder="Введи текст для поиска" class="item text_input">
            <select name="genres" id="genres" multiple="" class="item" size="6">
                {% for item in genres  %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="album">
            {% for item in albums %}
                <div class="albums">
                    <h2 class="name_album">Альбом: {{ item.name }}</h2>
                    <div class="info_album">
                        <div class="url_album">
                            url album: {{ item.url }}
                        </div>
                        <div class="slug-album">
                            slug album: {{ item.slug_name }}
                        </div>
                        <div class="name_album">
                            name album: {{ item.name }}
                        </div>
                    </div>
                    <div class="date_album">
                        date album: {{ item.date_album }}
                    </div>
                    <div class="album_status">
                        album status: {{ item.album_status }}
                    </div>
                    <div class="image image_album">
                        <label for="image" class="item">Image</label>
                        <img src="/media/{{ item.image }}" class="item">
                        <input type="file" accept="image/*" name="image" id="image" class="input-file"> 
                        <label for="image" class="item btn_upload modified-label">
                            <span class="js-fileName">Загрузить файл</span>
                        </label>
                    </div>
                    <div class="track">
                        <h2 class="name_tracks">Треки</h2>
                        {% for item_t in tracks %}
                            {% if item_t.album == item %}
                            <div class="tracks">
                                <div class="image image_track">
                                    <img src="/media/{{ item_t.image }}" class="item">
                                    <input type="file" accept="image/*" name="image" id="image" class="input-file">
                                    <label for="image" class="item btn_upload modified-label">
                                        <span class="js-fileName">Загрузить файл</span>
                                    </label>
                                </div>
                                <div class="audio_file">
                                    audio_file
                                </div>
                                <div class="genres_track">
                                    genres_track
                                </div>
                                <div class="sub_artists">
                                    sub_artists
                                </div>
                                <div class="language_track">
                                    language track: {{ item_t.language }}
                                </div>
                                <div class="url_track">
                                    url track: {{ item_t.url }}
                                </div>
                                <div class="slug_track">
                                    slug track: {{ item_t.slug_name }}
                                </div>
                                <div class="name_track">
                                    name track: {{ item_t.name }} 
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>