{% load static %}{% load thumbnail %}
<div class="content_page">
    <div class="content_header">
        <div class="content_sub_info">
            <div class="content_sub_info_block">{{ album_date|date:"Y" }}</div>
        </div>
        <div class="content_info_block">
            {% thumbnail album_avatar "256x256" crop="center" as im %}
                <img src="/media/{{ im }}" class="content_info_img" onerror="imgError(this);">
            {% endthumbnail %}
            <div class="content_type">{{ album_status.get_album_status_display }}</div>
            <div class="content_info_text">{{ name }}</div>
        </div>
    </div>
    <div class="content_body">
        <div class="tracks_array">
            {% for item in tracks %}
                {% include 'music/parts/track.html' %}
            {% endfor %}
        </div>
    </div>
</div>