{% load static %}{% load thumbnail %}
<div class="content_page">
    <div class="content_header">
        <div class="content_sub_info">
            {% for item in genres|slice:":6" %}
                <div class="content_sub_info_block">{{ item }}</div>
            {% endfor %}
        </div>
        <div class="content_info_block">
            {% if not author_avatar %}
                <img src="/media/" class="content_info_img" onerror="imgError(this);">
            {% endif %}
            {% thumbnail author_avatar "256x256" crop="center" as im %}
                <img src="/media/{{ im }}" class="content_info_img" onerror="imgError(this);">
            {% endthumbnail %}
            <div class="content_type">{{ is_author }}</div>
            <div class="content_info_text">{{ name }}</div>
        </div>
    </div>
    <div class="content_body">
            <div class="sub_title">
                <h2>Популярные треки</h2>
            </div>
            <div class="tracks_array">
                {% for item in tracks|slice:":5" %}
                    {% include 'music/parts/track.html' %}
                {% endfor %}
            </div>
            <div class="sub_title">
                <h2 class="profile_content_label">Альбомы</h2>
                <div class="view_all">ДРУГИЕ</div>
            </div>
            <div class="content_body_container">
                {% for item in albums|slice:":8" %}
                    {% include 'music/parts/album_view.html' %}
                {% endfor %}
            </div>
        </div>
    </div>