{% load static %}{% load thumbnail %}
<div class="content_page">
    <div class="content_header">
        <div class="content_sub_info">
            <div class="content_sub_info_block">Автор: {{ playlist.author.displayName }}</div>
            <div class="content_sub_info_block">Последнее изменение: {{ playlist.correction|date:"Y-m-d" }}</div>
        </div>
        <div class="content_info_block">
            {% thumbnail playlist.image "256x256" crop="center" as im %}
                <img src="/media/{{ im }}" class="content_info_img" onerror="imgError(this);">
            {% endthumbnail %}
            <div class="content_type">Плейлист</div>
            {% if user_sub %}
                <div class="subs" title="отписаться" onclick="sub_on('remove', 'playlist', '{{ playlist.url }}')">✔</div>
            {% else %}
                <div class="subs" title="подписаться" onclick="sub_on('add', 'playlist', '{{ playlist.url }}')">➕</div>
            {% endif %}
            <div class="content_info_text">{{ playlist.name }}</div>
        </div>
    </div>
    <div class="content_body">
        <div class="tracks_array">
            {% for item in tracks %}
                {% include 'music/parts/track.html' %}
            {% endfor %}
        </div>
    </div>
</div>