{% load static %}
<div class="preferences_page">
    <h2>Настройки</h2>

    <form action="" method="post" class="preferences_profile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fields">
            <div class="field preferences_avatar">
                <label for="avatar" class="item">Avatar</label>
                <img src="/media/{{ user.avatar }}" class="item" onerror="imgError(this);">
                <input type="file" accept="image/png, image/jpeg" name="avatar" id="avatar" class="input-file">
                <label for="avatar" class="item btn_upload modified-label">
                    <span class="js-fileName">Загрузить файл</span>
                </label>
            </div>
            <script>
                (function() {
                    'use strict';
                    $('.input-file').each(function() {
                        var $input = $(this),
                        $label = $input.next('.modified-label'),
                        labelVal = $label.html();
                        $input.on('change', function(element) {
                            var fileName = '';
                            if (element.target.value) fileName = element.target.value.split('\\').pop();
                                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) :    $label.removeClass('has-file').html(labelVal);
                            });
                        });
                })();
            </script>
            <div class="field preferences_username">
                <label for="username" class="item">Отображаемое имя</label>
                <input type="text" name="username" id="username" autocomplete="off" required maxlenght='24' class="item text" value="{{ user.displayName }}">
            </div>
            <div class="field preferences_email">
                <label for="email" class="item">Email</label>
                <input type="email" name="email" id="email" autocomplete="off" required class="item text" value="{{ user.email }}">
            </div>
            <div class="field preferences_genres">
                <label for="preferences_genres" class="item">Жанры</label>
                <div class="custom_select_block">
                    <label for="" class="field_select_genres item">не выбранно</label>
                    <select name="preferences_genres" class="select_genres item" multiple size="6">
                        {% for item in genres %}
                            <option value="{{ item.name }}" {% if item in user_genres %} selected {% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <script>
                    var custom_select_block = document.querySelectorAll(".custom_select_block");
                    custom_select_block.forEach(parent => {
                        var label = parent.querySelector(".field_select_genres");
                        var select = parent.querySelector(".select_genres");
                        var text = label.innerHTML;

                        function custom_select() {
                            let selectedOptions = select.selectedOptions;
                            label.innerHTML = "";
                            for (let option of selectedOptions) {
                                let button = document.createElement("button");
                                button.type = "button";
                                button.className = "btn_selected";
                                button.textContent = option.innerHTML;
                                button.onclick = _ => {
                                    option.selected = false;
                                    button.remove();
                                    if (!select.selectedOptions.length) label.innerHTML = text
                                };
                                label.append(button);
                            }
                        }
                        $(function() {
                            custom_select();
                            if (this.querySelectorAll('option:checked').length > 5) {
                                Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                                    if (!e.selected) {
                                        e.disabled = true;
                                    }
                                });
                            } else {
                                Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                                    if (!e.selected) {
                                        e.disabled = false;
                                    }
                                });
                            }
                        });
                        select.addEventListener("click", function(e) {
                            custom_select();
                            if (this.querySelectorAll('option:checked').length > 5) {
                                Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                                    if (!e.selected) {
                                        e.disabled = true;
                                    }
                                });
                            } else {
                                Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                                    if (!e.selected) {
                                        e.disabled = false;
                                    }
                                });
                            }
                        })
                    })
                    $('select[multiple] option').on('mousedown', function(e) {
                        var $this = $(this),
                            that = this,
                            scroll = that.parentElement.scrollTop;
                        e.preventDefault();
                        $this.prop('selected', !$this.prop('selected'));
                        setTimeout(function() {
                            that.parentElement.scrollTop = scroll;
                        }, 0);
                        return false;
                    });
                </script>
            </div>
        </div>
        <input type="submit" value="Сохранить" class="button">
    </form>
</div>
