{% load static %}{% load thumbnail %}
<div class="preferences_page">
    <h2>Настройки</h2>

    <form action="" method="post" class="preferences_profile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fields">
            <div class="field preferences_avatar">
                <label for="avatar" class="item">Avatar</label>
                {% thumbnail user.avatar "256x256" crop="center" as im %}
                    <img src="/media/{{ im }}" class="item" onerror="imgError(this);">
                {% endthumbnail %}
                <input type="file" accept="image/png, image/jpeg" name="avatar" id="avatar" class="input-file">
                <label for="avatar" class="item btn_upload modified-label">
                    <span class="js-fileName">Загрузить файл</span>
                </label>
            </div>
            <div class="field preferences_username">
                <label for="username" class="item">Отображаемое имя</label>
                <input type="text" name="username" id="username" autocomplete="off" required maxlenght='24' class="item text" value="{{ user.displayName }}">
            </div>
            <div class="field preferences_email">
                <label for="email" class="item">Email</label>
                <input type="email" name="email" id="email" autocomplete="off" required class="item text" value="{{ user.email }}">
            </div>
            <div class="field preferences_genres">
                <label for="preferences_genres" class="item">Жанры</label>
                <div class="custom_select_block">
                    <label for="" class="field_select_genres item">не выбранно</label>
                    <select name="preferences_genres" class="select_genres item" multiple size="6">
                        {% for item in genres %}
                            <option value="{{ item.name }}" {% if item in user_genres %} selected {% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" value="Сохранить" class="button">
    </form>
    <script src="{% static 'music/preference.js' %}"></script>
</div>
