{% load static %}

<div class="content_page">
    <div class="content_body">
            <div class="sub_title">
                <h2 class="profile_content_label">Популярные авторы</h2>
            </div>
            <div class="content_body_container">
                {% for item in top_artist %}
                    <div class="content_body_container_el">
                        <img src="/media/{{ item.image }}" class="content_body_container_el_img">
                        <h5 class="content_body_container_el_name" title="{{ item.name }}"><a href="/artist/{{ item.url }}" class="link">{{ item.name }}</a></h5>
                        <div class="content_body_container_el_sub">
                        </div>
                    </div>
                {% endfor %}
            </div>


            <div class="sub_title">
                <h2 class="profile_content_label">Популярные альбомы</h2>
            </div>
            <div class="content_body_container">
                {% for item in top_album %}
                    {% include 'music/parts/album_view.html' %}
                {% endfor %}
            </div>

            <div class="sub_title">
                <h2 class="profile_content_label">Популярные треки</h2>
            </div>
            <div class="content_body_container">
                {% for item in top_tracks %}
                    <div class="content_body_container_el">
                        <img src="/media/{{ item.image }}" class="content_body_container_el_img">
                        <h5 class="content_body_container_el_name" title="{{ item.name }}"><a href="/album/{{ item.album.url }}" class="link">{{ item.name }}</a></h5>
                        <div class="content_body_container_el_sub">
                            <div>{{ item.author.displayName }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- <div class="sub_title">
                <h2 class="profile_content_label">Популярные плейлисты</h2>
            </div> -->

            <div class="sub_title">
                <h2 class="profile_content_label">Последние авторы</h2>
            </div>
            <div class="content_body_container">
                {% for item in artists %}
                    <div class="content_body_container_el">
                        <img src="/media/{{ item.image }}" class="content_body_container_el_img">
                        <h5 class="content_body_container_el_name" title="{{ item.name }}"><a href="/artist/{{ item.url }}" class="link">{{ item.name }}</a></h5>
                        <div class="content_body_container_el_sub">
                            <div>{{ item.author.displayName }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="sub_title">
                <h2 class="profile_content_label">Последние альбомы</h2>
            </div>
            <div class="content_body_container">
                {% for item in albums %}
                    {% include 'music/parts/album_view.html' %}
                {% endfor %}
            </div>

            <div class="sub_title">
                <h2 class="profile_content_label">Последние плейлисты</h2>
            </div>
            <div class="content_body_container">
                {% for item in playlists %}
                    <div class="content_body_container_el">
                        <img src="/media/{{ item.image }}" class="content_body_container_el_img">
                        <h5 class="content_body_container_el_name" title="{{ item.name }}"><a href="/playlist/{{ item.url }}" class="link">{{ item.name }}</a></h5>
                        <div class="content_body_container_el_sub">
                            <div>{{ item.author.displayName }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>